@import '../../styles/constants';

$shadow: $planck-length;
$blur: $planck-length * 2;

.DialBezelComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: $bezel-diameter;
    height: $bezel-diameter;

    background: linear-gradient(to bottom right, rgba($color-black, 0.05), rgba($color-white, 0.9));
    border-radius: 50%;
    box-shadow: $shadow $shadow $blur rgba($color-black, 0.6), -#{$shadow} -#{$shadow} $blur rgba($color-white, 0.6), 2px 2px 2px rgba($color-white, 1) inset, -2px -2px 2px rgba($color-black, 0.4) inset;
}
