@import '../../styles/constants';

$shadow: $planck-length / 2;
$blur: $planck-length;

.PlateauComponent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    min-height: #{$planck-length * 6};
    padding: $planck-length #{$planck-length * 2};

    color: $color-black;
    font-size: $font-size-large;

    background: linear-gradient(to bottom right, rgba($color-black, 0.05), rgba($color-white, 0.9));
    background-color: transparent;
    border-radius: #{$planck-length * 2};
    box-shadow: $shadow $shadow $blur rgba($color-black, 0.6), -#{$shadow} -#{$shadow} $blur rgba($color-white, 0.6);
}
